<ActionBar class="action-bar">
    <Label text="Latest Stories" class="action-bar-label"></Label>
    <ActionItem ios.position="right" android.position="popup">
        <Label text="&#xf002;" class="fa menu-icon" [ngClass]="{isandro : actionAndroid}"
            (tap)="searching = !searching"></Label>
    </ActionItem>
</ActionBar>
<StackLayout class="page">

    <SearchBar *ngIf="searching" hint="Filter News..." (clear)="onClear($event)"
        (submit)="onSubmit($event)" (textChange)="onTextChange($event)" class="search-bar"></SearchBar>

    <RadListView id="list-view" [items]="news" marginRight="-2"
        separatorColor="transparent" height="100%">
        <ng-template tkListItemTemplate let-item="item">
            <StackLayout>
                <GridLayout rows="*" backgroundColor="White">
                    <GridLayout rows="*" columns="*">
                        <Image src="{{ item.urlToImage }}" stretch="aspectFill"
                            height="200"></Image>
                        <GridLayout verticalAlignment="top">
                            <StackLayout backgroundColor="#bc3b4e77">
                                <Label text="{{ item.source.name }}" class="news-source"></Label>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>
                <StackLayout paddingTop="15" paddingBottom="20" paddingLeft="15"
                    paddingRight="15" backgroundColor="White">
                    <Label text="{{ item.title }}" class="news-title"
                        textWrap="true"></Label>
                </StackLayout>
            </StackLayout>
        </ng-template>
    </RadListView>
	
</StackLayout>